body{
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),url(images/background.png);
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
 
}
.container{
  max-width: 1000px;
}
.App {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}
footer{
  color: blanchedalmond;
  padding: 0;

}
footer a{
  text-decoration: none;
  color: #908E85;
  border-radius: 3px;
  background-color: #241D11;
}
main{
  padding: 10px;
}
.title{
  font-family:'MonteCarlo', cursive; ;
  font-size: 120px;
  font-weight: bold;
  color: #241D11;
}