form input{
  background-color: blanchedalmond;
  border-radius: 3px;
 font-family: 'MonteCarlo', cursive;
font-size: 20px;
border: #241D11 1px solid;
margin-bottom: 30px;


}

.input{
  
padding: 3px 40px;
text-align: center;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}
.search{
  padding: 3px 30px;
}
 