.Results h2 {
  font-size: 40px;
  color: blanchedalmond;
  padding-top: 30px;
  margin-bottom:0 ;
  
}
form{
  margin-bottom:0;
}
.Dictionary{
  padding-bottom: 30px;
}
.Results h3{
  font-size: 25px;
  color:blanchedalmond;
  margin-bottom:30px;

}

.Meaning{
color: blanchedalmond;
font-size: 25px;
}

strong{
  color: #241D11;
}